.remove-btn{
	margin-right: 0.5rem;
}

.Fade-enter{
	opacity: 0.01;
}

.Fade-enter-active{
	opacity: 0.01;
	transiton: opacity 6000ms ease-in;
}

.Fade-exit{
	opacity: 1;
}

.Fade-exit-active{
	opacity: 0.01;
	transiton: opacity 6000ms ease-in;
}